<div class= "grouplist">
  <div class= "user">
    <%= current_user.name %>
    <button type="button" class="set" autofocus="true"><a href= "/users/1/edit">編集</a></button>
  </div>
  <div class= "groups">
    <%= link_to "日本プロ野球", "/groups/1/messages", class:"group" %>
    <%= link_to "セ・リーグ", "/groups/2/messages", class:"group" %>
    <%= link_to "巨人", "/groups/3/messages", class:"group" %>
    <%= link_to "横浜", "/groups/4/messages", class:"group" %>
    <%= link_to "阪神", "/groups/5/messages", class:"group" %>
    <%= link_to "広島", "/groups/6/messages", class:"group" %>
    <%= link_to "中日", "/groups/7/messages", class:"group" %>
    <%= link_to "ヤクルト", "/groups/8/messages", class:"group" %>
    <%= link_to "パリーグ", "/groups/9/messages", class:"group" %>
    <%= link_to "西武", "/groups/10/messages", class:"group" %>
    <%= link_to "ソフトバンク", "/groups/11/messages", class:"group" %>
    <%= link_to "楽天", "/groups/12/messages", class:"group" %>
    <%= link_to "ロッテ", "/groups/13/messages", class:"group" %>
    <%= link_to "日本ハム", "/groups/14/messages", class:"group" %>
    <%= link_to "オリックス", "/groups/15/messages", class:"group" %>
  </div>
</div>